body{
    margin: 0;
    padding:0;
    font-size: 12px;
    font-family:"STHeiti";
}

.fl{
float:left;
}
.rh{
    float: right;
}
ul,h1,li,h2,h3,p{
    padding: 0;
    margin: 0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
}
/*header开始*/
 .header{
    height: 40px;
    width: 100%;
    margin: 0 auto;

    border-top: none;
     position: fixed;
     left: 0;
     top: 0;
     z-index: 1;


}
.nav_lf{
    height: 40px;
    background-color:#84A1DB;


}

.job{
    height: 40px;
    line-height: 40px;
    font-weight: 500;
    font-size: 14px;
}
.job span{

    color:#fff;
    font-weight: 700;
    font-size: 16px;
}
.intention {
    color: #fff;
    font-size: 16px;
}
.job .intention:hover{
    border-bottom-color: orange;
}
.logo{
    margin-right: 15px;
}
.logo img{
   width: 40px;
    height: 40px;


}

.nav_rh{

    height: 40px;


}
.nav_rh li{

    width: 140px;
    height: 40px;
}
.nav_rh li a{
    display: block;
    height: 40px;
    line-height: 40px;
    position: relative;
    color: #6B3C21;

}
.nav_rh li a:after{
    content: "";
    position: absolute;
    left: 50%;
    right: 50%;
     bottom: 0;
    height: 2px;
    background: #6B3C21;
    opacity: 0;
    -webkit-transition: .2s ease-in;
    transition: .2s ease-in;

}

.nav_rh li a:hover:after{
    left: 0;
    right: 0;
    opacity: 1;
}

.nav_rh .study a,.nav_rh .school a,.nav_rh .home a{
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}
.nav_rh .study a:hover,.nav_rh .school a:hover,.nav_rh .home a:hover{

    color: #ddd;
}

.nav_rh .home a img,.nav_rh .study a img,.nav_rh .school a img{
     width:20px;
      height: 20px;
       margin:10px;
}
/*school_experience开始*/
/*默认样式*/
#experience{

    background: url(../image/bg-timeline.png) repeat-y 166px 0;

    position: absolute;
    width: 1000px;
   left: 100px;
    top:50px;
    z-index: 2;
    }
.school_experience{
    position: relative;
    width: 1000px;
}
._close{
    width: 24px;
    height: 24px;
    background: url(../image/x_close.png) no-repeat 0 0;
    position: absolute;
    left: 980px;
    display: none;
}
.school_experience li{
    width: 1000px;
    position: relative;
    height: 135px;
}
.school_experience li .pic,.school_experience li .check,.school_experience li .content {
    position: absolute;

}
.school_experience .pic{
    width: 82px;
    top: 13px;
    left: 32px;
    z-index: 2;
}
.school_experience .pic p{
    text-align: center;
    color: #fff;
    font-family: Arial black;

}
.school_experience .pic img{
    width: 72px;
    height: 72px;
    border: 5px solid #84A1DB;
}
.check .spite{
    z-index: 1;
    position: absolute;
      display: block;
    width: 51px;
    height: 6px;
    left: 110px;
    top: 47px;
    background: url(../image/bg-spring-w.png) repeat-x 10px 0;
}
.check s{
    position: absolute;
    display: block;
    z-index:2;
    left: 157px;
    top: 40px;
    width: 16px;
    height: 16px;
    border: 3px solid #84A1DB;
    cursor: pointer;
    background: url(../image/sprite.png) no-repeat 1px -100px;
}
.check .line {
    position: absolute;
    width: 43px;
    height: 1px;
    background: #fff;
    left: 180px;
    top: 50px;
    font-size: 1px;
}
.content{
    left: 232px;
    top: 10px;
    width: 730px;
    border-left: 5px solid #84A1DB;
    background: #fff;


}
.content h3{
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
    color: #84A1DB;
}
.main_content{
    height:80px;width:730px ;
    background: #fff;
    display: none;



}
.main_content .div1{
    width:100px;
        height:70px;
    margin: 0 100px 0 140px;
    float: left;
    padding: 15px 10px 0 50px;

}
.main_content .div2{
    width: 150px;
        height: 70px;
    padding: 15px 0 0 0;
    float: left;

}
.main_content .div1 p,.main_content .div2 p{
    line-height: 25px;
    height: 25px;
        font-size: 14px;
    text-align: center;
    width: 140px;

}
.main_content .div0{
    width: 144px;
    float: left;
    margin-left: 90px;

}

.main_content .div0 p{
    line-height: 25px;
    height: 25px;
    font-size: 14px;
}
.main_content .div3{
    height: 60px;
}
.main_content .div3 p{
    line-height: 25px;
    height: 25px;
    font-size: 14px;
    padding: 0 20px;

}
.expect{
    height: 140px;
}
.content b{
    position: absolute;
    display: block;
    width: 17px;
    height: 34px;
    background: url(../image/sprite.png);
    left: -16px;
    top: 25px;
}

/*激活样式*/
.school_experience li.active .pic,.school_experience li.active .check,.school_experience li.active .content {
    position: absolute;

 }
li.active{
    height: 150px;
    position: relative;
}
li.active .pic{
    width: 110px;
    top: 10px;
    left: -10px;
}
li.active .pic img{
    width: 100px;
    height: 100px;
    border: 8px solid #F79077;
}
li.active .pic p{
    color: #fff;

}
li.active .content{
    border-left: 8px solid #F79077;
    z-index: 999;
}
li.active .content .main_content{
    display: block;
}
li.active .content b{
    background: url(../image/sprite.png) 0 -43px;
    left: -21px;

}
li.active content{
    left: 234px;
    top: 10px;
    width: 730px;
}
li.active .check .spite{
    left: 106px;
    top: 47px;
    background: url(../image/bg-spring-o.png) repeat-x 10px 0;
}
li.active .check .line{
    position: absolute;
    width: 40px;
    height: 1px;
    background: #f67c5f;
    left: 180px;
    top: 50px;
    font-size: 1px;
}
li.active .check s{
    left: 152px;
    top: 36px;
    width: 20px;
    height: 20px;
    border: 5px solid #fff;
    background: #f67c5f url(../image/sprite.png) 2px -200px;
    cursor: pointer;
}
li.active .content h3{
    text-align: center;
    height: 15px;
    line-height: 15px;
    padding-top: 5px;
    margin-bottom: 5px;
    color: #F26328;
}
.cover{
    background-color:#454A54;
    opacity: 0.75;





}

/*fullPage开始*/

.section {
    background:url(../image/bg1_final.jpg);
    opacity: 0.85;
     background-size: 100%;
     width:100%; height:100%;
    position: relative;
    overflow: hidden;

}

.one .img_box{
    width: 180px;
    height: 180px;
    margin:-150px auto 10px;
    position: relative;
    overflow: hidden;
      padding: 10px;
     top:-400px;

}


.img_box img{
    width: 180px;
    height: 180px;
    border-radius: 50%;

    position: absolute;


}
@keyframes  l_to_r{
    50%{
        transform:translateX(220px)
    }
    51%{
        transform:translateX(-220px)
    }
}
.img_box img:hover {
    animation: l_to_r 0.6s;
}

.one h1{
    width: 500px;
    margin:0 auto 10px;
    text-align: center;
    color: #6592e9;
    font-size: 20px;
    -webkit-transition: font-size 1s,transform 1s, ease-in;
    -moz-transition: font-size 1s,transform 1s, ease-in;
    -ms-transition: font-size 1s,transform 1s, ease-in;
    -o-transition: font-size 1s,transform 1s, ease-in;
    transition: font-size 1s,transform 1s, ease-in;
    cursor: pointer;
    font-family:arial, helvetica, sans-seri;

}
.one h1:hover{
font-size: 25px;
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.one p.bt{
    position: absolute;
    height: 5px;
    margin: 0 auto;
   background-color: #C7CBCE;
     left:50%;
    right: 50%;


}

.bottom{
    text-align: center;
}
.intro_1,.intro_2{
    width: 100px;
    text-align: center;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
       position: absolute;
   }
.intro_3,.intro_4{
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    color: #fff;
    width: 200px;
    position: absolute;
    text-align: center;


}
.intro_1{
   left:-400px;
    bottom:250px;
    margin: 0;
    padding:0;
   color: #fff;
    font-family: 'helvetica neue sans-serif';

}
.intro_2{
    left: 2000px;
    margin-top:47px;
    bottom:225px;
}
.intro_3,.intro_4{
    bottom: -30px;
    left:42%;
}

.two h1{
    width: 400px;
    position: absolute;
    font-size: 32px;
    margin:0 auto;
    text-align: center;
    color:#fff;
    left: 35.5%;
}
.self_outer{
    position: absolute;
    top: 24%;
    left:22%;
    right: 22%;
}
.self_info {
    position: relative;
    border-radius: 25%;
     height: 200px;
    padding: 50px 30px 50px 65px;
    min-width: 640px;
    background-color: #84A1DB;



    }
.info_pic{
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid #6B3C21;
    box-shadow: 0 0 8px #6B3C21;
     margin: 0 40px 10px 15px;


}
.info_pic1{
    background-color: #D9494F;
}
.info_pic2{
    background-color: #A7CE14;
}
.info_pic3{
    background-color: #799EE3;
}
.info_pic4{
    background-color: #6EBDC4;
}
.info_pic img{
    width: 60px;
    height: 60px;
    padding: 20px;
    transition:transform 1s ease-in-out;

}
.info_pic img:hover{
    transform:rotate(360deg);

}
.info_detail{

    width: 100px;
    height: 100px;
    position: absolute;
    top:175px;
    margin: 0 45px 0 20px ;
}
.info_detail .p1{
    text-align: left;
    margin-bottom: 10px;
    font-size: 18px;
    color: #fff;
}
.info_detail .p2{
    text-align: right;
    margin-top: 10px;
    font-size: 18px;
    color: #fff;
}
.info_detail:before{
    content: "";
    width: 100px;
    height: 2px;
    background-color: #7E8BA5;
     -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    display: block;
    float: left;
    position: absolute;
    bottom: 80px;
    left: 5px;

}
.detail2{
    left: 218px;
}
.detail3{
    left: 383px;
}
.detail4{
    left: 538px;
}
@keyframes rotate_sc{

 0%{transform:rotate(-360deg) scale(1.4) ;}


}
.img_change{
    animation:rotate_sc 1.5s ease-in;
}

 .about{
    position: absolute;
    height: 3px;
    width: 0;
    margin-left: -100px;
    background-color: #F56543;
    left:50%;

}



.evaluate{
    position:absolute;
    left: 22%;
    right:22%;
    top: 75%;

}
.evaluate p{
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    text-align: center;
    position: relative;
    color: #fff;
    font-size: 18px;
}
.evaluate .p3{
    position: relative;
}
/*.p3:before{
    width: 50px;
    height: 50px;
    border-top:4px solid #000;
    border-left: 4px solid #000;
    position: absolute;
    top:-20px;
    left:0;
    content: "";

}
.p5:after{
    width: 50px;
    height: 50px;
    border-bottom:4px solid #000;
    border-right: 4px solid #000;
    position: absolute;
    bottom:-20px;
    right:0;
    content: "";

}*/
.three h1{
    width: 400px;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 32px;
    left: 50%;
    margin-left: -200px;
    top:0;
}
.skill{
    position: absolute;
    left: 20%;
    right: 20%;

    top:250px;

}
.skill_info{
    padding: 20px 35px 20px 90px ;
}
.jv{
   width: 100px;margin-right: 70px;
}
.java{
    width: 90px;
    height: 120px;
    margin-right: 50px;
    position: relative;
    font-size: 16px;
}
.java img{
    width: 80px;
    height: 100px;
    padding: 10px 5px;
}
.jv p{
    width: 100px;
   line-height: 20px;
    margin-top: 20px;


}
.jv .p1{
    text-align: center;
    font-size: 24px;
    height: 20px;
    color: #fff;
}
.det{
    position: relative;
    width: 240px;
    display: none;

}
.det p{
    text-align:justify ;
    line-height: 28px;
    font-size: 16px;
    width: 240px;
    position: absolute;
    left: -70px;
    background-color: #84A1DB;
    border-radius: 10%;
    height:80px;
    padding: 20px 13px 20px 13px;
    color: #fff;



}
 img.triangle{
    width: 20px;
     height: 20px;
     display: block;
     margin: 0 auto;
     margin-top: 20px;
     position: relative;

}
 .rotate{
     transform:rotate(180deg);
 }
.java img:hover{
    transform:scale(1.5);

}



.three  .title_1 h2{
    left:46.4%;
    top:170px;
}

.four .practice_show{
    width:800px;
    height: 600px;
    position: absolute;
   left: 50%;
    top:40px;
    margin-left: -400px;

}
.my_art{
    width: 150px;
    height: 150px;
}

.ar-left{
    float: left;
    margin:0 0 0 150px;

    width: 80px;
    font-size: 16px;
    font-weight: 500;
    color:#F56543;
    display: none;
    font-weight: bold;
}
.ar-left img,.ar_right,img{
    width: 80px;
    height: 50px;
    vertical-align: middle;
    margin:0 10px 20px 0;
    padding-left: 5px;
}
.ar-right{
    float:left;
    margin: 100px 200px 60px 150px;
      font-size: 16px;
    font-weight: 500;
    color: #F56543;
    width: 80px;
    display: none;
    font-weight: bold;
   }
.practice_show .big_pic {
    width:500px;
    height: 600px;
    padding: 0 50px;
    float:left;
    display: none;


}
.big_pic img{
    width: 496px;
    height:596px;

}
.practice_show .small_pic_box{
    width: 200px;
    height: 600px;
    float: left;

}
.small_pic_box li{
    width: 200px;
    height:150px;
    position: relative;
    display: none;
}
.small_pic_box li img{
    width: 160px;
    height: 130px;
    padding: 10px 20px;
}
.small_pic_box li span{
    position: absolute;
    bottom: 10px;
    left: 0;
    right:0;
    text-align: center;
    font-size: 16px;
   font-weight: 600;
    color: #6B3C21;
}
.border_orange{
    border: 2px solid #84A1DB;
    box-shadow: 0 0 6px #6B3C21;
}


.six h1{
    width: 400px;
    position: absolute;
    font-size: 32px;
    text-align: center;
    color: #ccc;
    left: 50%;
    margin-left: -200px ;
    top:0;
}
.six .title_1 h2{
    height: 20px;
    line-height: 20px;
    color: #7E8BA5;
    font-size: 15px;
    position: absolute;
    left: 46%;
    top:165px;
}
.say{
    position: absolute;
    top: 250px;
    left: 50%;
    width: 640px;
    margin-left: -300px;
}
.say p {
    text-align: center;
    height: 28px;
    line-height: 28px;
    font-size: 18px;
       color: #fff;
    font-size: 20px;
}
.future{
    margin-bottom:20px;
    padding-top: 10px;
}
.green{
    color: #F56543;
    font-size: 40px;
}
.red{
    color: #F56543;
    font-size: 40px;
}
.blue{
    color: #F56543;
    font-size: 40px;
}
